include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include NOTICE
include OnionCall-Setup.py
include OnionCall-Terminal-Setup.py
include README.md
include SECURITY.md
recursive-include docs *.md
recursive-include onioncall/assets *.png
